<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Logs.Queue.Container.SasUrl" value="https://calypsologarchive.blob.core.windows.net/dev-test-logs?sp=racwl&amp;st=2022-01-21T08:39:18Z&amp;se=2022-03-21T16:39:18Z&amp;spr=https&amp;sv=2020-08-04&amp;sr=c&amp;sig=4zobK1UEsan8%2BPCbYWDvxPj%2FnOLpIOD20qKGH7G%2FgjA%3D"/>
	</appSettings>
</configuration>