<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<!-- ensure only the sources defined below are used -->
		
		<add key="Proget Cloud UKHO Trusted v3" value="https://progetcloud.ukho.gov.uk/nuget/ukho.trusted/v3/index.json" />
		<add key="Proget Cloud Nuget v3" value="https://progetcloud.ukho.gov.uk/nuget/nuget.org/v3/index.json" />

	</packageSources>
</configuration>